android/app/keystore.jks filter=git-crypt diff=git-crypt
android/google-play-api-key.json filter=git-crypt diff=git-crypt
android/key.properties filter=git-crypt diff=git-crypt
ios/keys/* filter=git-crypt diff=git-crypt
.gitattributes !filter !diff
