.DS_Store
.dart_tool/
**/ios/Flutter/.last_build_id

.packages
.pub/

build/

.flutter-plugins
.flutter-plugins-dependencies
.vscode

.idea/
.project
.classpath
.settings/

android/fastlane/README.md
android/fastlane/report.xml

.externalNativeBuild

# Android NDK Debug symbols
debugSymbols

# GitJournal specific
test/.test_coverage.dart
lib/.env.dart
gj_common
