.DS_Store
.dart_tool/

.packages
.pub/

build/

.flutter-plugins
.flutter-plugins-dependencies
.vscode

.idea/
.project
.classpath
.settings/

android/fastlane/README.md
android/fastlane/report.xml

.externalNativeBuild

# Android NDK Debug symbols
debugSymbols
