language: dart
dist: xenial
matrix:
  include:
    - name: Test
      env: COMMAND=test
    - name: Analyze
      env: COMMAND=analyze
addons:
  apt:
    packages:
      - lib32stdc++6
install:
  - cd $HOME
  - git clone https://github.com/flutter/flutter.git -b beta
  - ./flutter/bin/flutter doctor
  - cd -
script:
  - $HOME/flutter/bin/flutter $COMMAND
cache:
  directories:
    - $HOME/.pub-cache
    - $HOME/flutter
