# SPDX-FileCopyrightText: 2021 Vishesh Handa <me@vhanda.in>
#
# SPDX-License-Identifier: CC0-1.0

.idea/
.vagrant/
.sconsign.dblite
.svn/

.DS_Store
*.swp
profile

DerivedData/
build/
GeneratedPluginRegistrant.h
GeneratedPluginRegistrant.m

.generated/

*.pbxuser
*.mode1v3
*.mode2v3
*.perspectivev3

!default.pbxuser
!default.mode1v3
!default.mode2v3
!default.perspectivev3

xcuserdata

*.moved-aside

*.pyc
*sync/
Icon?
.tags*

/Flutter/app.flx
/Flutter/app.zip
/Flutter/flutter_assets/
/Flutter/App.framework
/Flutter/Flutter.framework
/Flutter/Flutter.podspec
/Flutter/Generated.xcconfig
/ServiceDefinitions.json

Pods/
.symlinks

libs
Flutter/flutter_export_environment.sh

fastlane/report.xml
fastlane/README.md
fastlane/screenshots/

Runner.app.dSYM.zip
*.ipa
Gemfile.lock
